@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* ========================= */
/* VARIABLES */
/* ========================= */

:root {
    --verdeOscuro: #016701;
    --verde: #63a800;
    --verdeClaro: #bbdd6f;
    --azulClaro: #B0fefe;

    --verdeBlanco: #f7ffe7;
    --verdeBlanco2: #dde3d0;
    --blanco: #fafafa;
    --negro: #072a16;

    --font-titulos: 'Londrina Solid', sans-serif;
    --font-textos: 'Questrial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-textos);
    line-height: 1.6;
    overflow-x: hidden;
}

/* ========================= */
/* NAVBAR */
/* ========================= */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: var(--negro);
    color: var(--verdeBlanco);
}

.menu {
    display: flex;
    list-style: none;
    gap: 55px;
}

.menu a {
    display: inline-block;
    color: var(--verdeBlanco);
    text-decoration: none;
    font-family: var(--font-titulos);
    font-weight: 300;
    font-size: 25px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.menu a:hover {
    transform: scale(1.08);
    color: var(--verdeClaro);
}

/* LOGO */

.logo img {
    height: 50px;
    width: auto;
    display: block;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

/* BOTÓN MENÚ */

.menu-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 50px;
    cursor: pointer;
    display: none;
}

/* ========================= */
/* TITULOS */
/* ========================= */

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-family: var(--font-titulos);
    font-weight: 400;
    color: var(--verdeOscuro);
    font-size: 4.5rem;
}

h3 {
    font-family: var(--font-titulos);
    font-size: 40px;
    margin-bottom: 15px;
    color: var(--verde);
}

h4 {
    font-family: var(--font-titulos);
    font-size: 25px;
    margin-bottom: 15px;
    color: var(--verdeOscuro);
}

p {
    font-size: 18px;
    color: var(--negro);
    margin: 10px;
}

/* ========================= */
/* PORTAFOLIO */
/* ========================= */

.portafolio {
    padding: 80px 5%;
}

/* CONTENEDOR GENERAL */
.portafolio-contenido {
    display: flex;
    justify-content: center;
    gap: 60px;

    max-width: 1200px;
    margin: 0 auto;
}

.portafolio-item {
    margin-bottom: 80px;
    border-bottom: 2px solid var(--verdeBlanco2);
    padding-bottom: 60px;
}

/* ========================= */
/* IZQUIERDA */
/* ========================= */

.portafolio-izq {
    flex: 1;
}

/* IMAGEN */
.portafolio-img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.portafolio-img img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

/* VIDEO */

.portafolio-video iframe {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    border: none;
    border-radius: 10px;
}

/* AUTORES */
.portafolio-autores {
    text-align: center;
}

.portafolio-autores ul {
    list-style: none;
    padding: 0;
}

.portafolio-autores li {
    margin: 10px 0;
    font-size: 18px;
}

/* ========================= */
/* DERECHA */
/* ========================= */

.portafolio-der {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* INFO */
.portafolio-info {
    max-width: 600px;
}

/* OPINIÓN */
.portafolio-opinion {
    max-width: 600px;
}

/* CLIENTE */
.cliente {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
}

/* CÍRCULO (foto cliente) */
.cliente-foto {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid var(--verdeOscuro);
    background-color: var(--verdeBlanco2);
}

/* NOMBRE */
.cliente span {
    font-family: var(--font-titulos);
    font-size: 22px;
    color: var(--negro);
}

/* ========================= */
/* FOOTER */
/* ========================= */

.footer {
    background: var(--negro);
    padding: 30px 40px;
}

.footer-contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.footer-logo img {
    width: 150px;
    transition: transform 0.3s ease;
}

.footer-logo img:hover {
    transform: scale(1.1);
}

.footer-texto {
    flex: 1;
}

.footer-texto h3 {
    color: var(--verdeBlanco2);
}

.footer-texto p {
    font-size: 14px;
    color: var(--verdeBlanco);
}

.footer-derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* BOTÓN */

.btn-contacto {
    padding: 15px 40px;
    border: 2px solid var(--negro);
    border-radius: 10px;
    background-color: var(--verdeClaro);
    font-family: var(--font-titulos);
    font-size: 20px;
    color: var(--negro);
    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.btn-contacto:hover {
    background-color: var(--verdeBlanco2);
    transform: scale(1.1);
}

/* Aviso de privacidad de datos y Cookies */

.privacidad {
    display: flex;
    flex-direction: row;
}

.btn-privacidad {
    padding: 15px 40px;
    margin: 0 20px;
    border: 2px solid var(--negro);
    border-radius: 10px;
    background-color: var(--verdeClaro);
    font-family: var(--font-titulos);
    font-size: 20px;
    color: var(--negro);
    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.btn-privacidad:hover {
    background-color: var(--verdeBlanco2);
    transform: scale(1.1);
}

/* REDES */

.redes {
    display: flex;
    gap: 10px;
}

.red {
    width: 70px;
    height: 70px;
    border: 2px solid var(--negro);
    border-radius: 10px;
    background-color: var(--verdeClaro);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: transform 0.3s ease;
}

.red:hover {
    transform: scale(1.1);
    background-color: var(--verdeBlanco2);
}

.instagram {
    background-image: url("../imgs/Instagram.png");
}

.youtube {
    background-image: url("../imgs/Youtube.png");
}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media (max-width: 1024px) {

    .portafolio-contenido {
        flex-direction: column;
        text-align: center;
    }

    .cliente {
        justify-content: center;
    }
}

@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        align-items: center;
        height: 80px;
        overflow: hidden;
        transition: height 0.5s ease;
    }

    .navbar.active {
        height: 100vh;
        justify-content: center;
    }

    .menu {
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
        display: none;
    }

    .menu a {
        background-color: var(--verdeBlanco2);
        color: var(--negro);
        padding: 10px 30px;
        border-radius: 10px;
        font-size: 30px;
        display: flex;
        justify-content: center;
    }

    .navbar.active .menu {
        display: flex;
    }

    .menu-btn {
        display: block;
    }

    h2 {
        font-size: 2rem;
    }

    .footer-contenido {
        flex-direction: column;
        text-align: center;
    }

    .footer-derecha {
        flex-direction: row;
    }
}

@media (max-width: 480px) {

    .menu {
        display: none;
    }
}
